@import '../../sass/colors.scss';

.Post {
  &__card {
    margin: 40px 0;
    overflow: hidden;
    text-align: left;

    @media only screen and (min-width: 480px) {
      margin: 40px 10px;
    }
  }

  &__card-title {
    box-shadow: rgba(0, 0, 0, 0.07) 0 1px 6px, rgba(0, 0, 0, 0.07) 0 1px 4px
  }

  &__card-actions {
    //box-shadow: rgba(0, 0, 0, 0.07) 0 -1px 6px, rgba(0, 0, 0, 0.07) 0 -1px 4px
    border-top: 1px solid lighten($lightGrey, 20%);
  }

  &__comments-label-desktop {
    display: none;
    @media only screen and (min-width: 480px) {
      display: inline-block;
    }
  }

  &__comments-label-mobile {
    @media only screen and (min-width: 480px) {
      display: none;
    }
  }

  &__comments {
    max-height: 85vh;
    overflow-y: scroll;

    border-top: 1px solid lighten($lightGrey, 20%);
    background-color: lighten($lightGrey, 27%);
    box-shadow: inset 0px 2px 6px -2px rgba(0,0,0,0.25);
  }
}