.Foyer {
  &__welcome {
    margin: 20px 0;
  }

  &__top-logo {
    width: 50px;
  }

  &__greeting {
    margin: 0;
    word-wrap: break-word;
  }

  &__first-visit {
    margin: 20px auto;
    max-width: 480px;
  }

  &__news {
    margin-top: 50px;
  }
}