@import '../sass/z-indexes.scss';

.SchedulePage {
  &__toolbar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 5px;

    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);

    font-family: 'Roboto', sans-serif;

    z-index: $zScheduleToolbar;
    box-sizing: border-box;

    // Fix for sticky toolbar on IE
    &.js-is-sticky,
    &.js-is-stuck {
      width: 100%;
    }
  }

  &__toolbar-title {
    margin-left: 20px;
    text-align: left;
    width: 100%;

    @media only screen and (min-width : 480px) {
      width: auto;
    }
  }

  &__toolbar-dropdown {
    top: -8px;
    margin-top: 5px;

    @media only screen and (min-width : 480px) {
      margin-top: 0;
    }
  }

  &__game-container {
    margin: 10px 20px;
  }

  &__empty-state {
    padding: 100px;
    font-size: 22px;
  }
}

.GameCard__click-wrapper {
  &:hover {
    cursor: pointer;
  }
}