@import '../../sass/_z-indexes.scss';

.Header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $zHeader;
  transition: top 0.2s cubic-bezier(0.23, 1, 0.32, 1);

  &.nav-up {
    top: -64px;
  }

  h1:hover {
    cursor: pointer;
  }

  &__AppBar--desktop {
    display: none !important;
    @media only screen and (min-width : 480px) {
      display: flex !important;
    }
  }

  &__AppBar--mobile {
    @media only screen and (min-width : 480px) {
      display: none !important;
    }
  }
}