@import '../../sass/utils';
@import '../../sass/z-indexes';

.Header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $zHeader;
  transition: top 200ms $mdEasingDecelerate;

  &.nav-up {
    top: -64px;
  }

  h1:hover {
    cursor: pointer;
  }

  &__AppBar--desktop {
    display: none !important;
    @media only screen and (min-width : 480px) {
      display: flex !important;
    }
  }

  &__AppBar--mobile {
    @media only screen and (min-width : 480px) {
      display: none !important;
    }
  }
}