{
  "extends": "airbnb",
  "globals": {
    "window": true,
    "document": true,
    "fetch": true,
    "Element": true,
    "localStorage": true
  },
  "parserOptions": {
    // This setting makes eslint stop complaining about dynamic imports (required for React.lazy)
    // See https://stackoverflow.com/a/58104827
    "ecmaVersion": 11
  },
  "rules": {
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "to", "hrefLeft", "hrefRight" ],
      "aspects": [ "noHref", "invalidHref", "preferButton" ]
    }],
    "no-underscore-dangle": [ "error", {
      "allowAfterThis": true
    }]
  }
}