@import 'sass/z-indexes.scss';

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;

  h1, h2, h3, h4, h5, h6 {
    font-family: Lobster Two, cursive;
    font-weight: normal;
    font-style: normal;
  }

  h1 { font-size: 40px; }
  h2 { font-size: 32px; }
  h3 { font-size: 28px; }
  h4 { font-size: 22px; }
  h5 { font-size: 18px; }
  h6 { font-size: 14px; }

}

.App__demo-indicator {
  position: fixed;

  top: 0;
  width: 90px;
  margin: 0 calc(50% - 45px);
  padding: 10px;

  font-size: 10px;

  pointer-events: none;

  background-color: rgba(255, 255, 0, 0.6);
  z-index: $zDemoIndicator;
  box-sizing: border-box;
}
