body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

// TODO P1 IE: check if it worked
// Remove automatically appearing clear button in IE11
// https://stackoverflow.com/a/23067969
input[type="text"] {
  &::-ms-clear {
    display: none;
    width:0;
    height:0;
  }
}
