.StandingsOverview {
  margin: 20px auto 10px;
  max-width: 640px;

  @media only screen and (min-width : 640px) {
    margin: 50px auto 10px;
    box-shadow: 0 0 50px -11px rgba(0, 0, 0, 0.55);
  }
}