$black: #372D2D;
$white: #FCFCFC;
$grey: #808080;
$lightGrey: #B4B4B4;
$darkGrey: #292929;

$purple: #974578;
$gold: #CD9B1D;
$darkGold: #8B6914;
$lightGold: #E9C467;

$success: #58ce38;
$error: #ce3838;

$ribbonBet: #1B1B1B;
$ribbonNeutral: #43b3ae;
$ribbonNiete: #ED2939;
$ribbonTendenz: #FF9966;
$ribbonDifferenz: #FADA5E;
$ribbonVolltreffer: #00A550;