$zAddNewsButton: 10;
$zBigPictureHeading: 50;
$zGameCardRibbonContent: 100;
$zProfileCardContent: 100;
$zGameCardFlags: 200;
$zGameBetsTabSavingProgress: 400;
$zGameBetsTabSaveButton: 500;
$zScheduleToolbar: 1000;
$zHeader: 5000;
$zDemoIndicator: 10000;