@import '../sass/_z-indexes.scss';

.CountryFlag {
  position: relative;
  width: 95px;
  margin: 0 -25px;
  z-index: $zGameCardFlags;

  &__flag {
    width: 100%;
  }

  &__name {
    position: absolute;
    width: 100%;
    margin-top: 5px;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;

    font-size: 14px;

    @media only screen and (min-width : 680px) {
      display: none;
    }
  }
}