.GameCard {
  box-sizing: border-box;

  position: relative;
  margin: 25px 0 100px;

  font-family: 'Roboto', sans-serif;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 60px;

  border-left: 20px solid white;
  border-right: 20px solid white;

  background-color: #e3e3e3;

  .hometeam, .awayteam {
    display: none;
    text-transform: uppercase;
    font-size: 20px;

    @media only screen and (min-width : 680px) {
      display: flex;
      align-items: center;
      flex-grow: 1
    }
  }

  .hometeam {
    padding: 0 5px 0 35px;
    justify-content: flex-start;
  }

  .awayteam {
    padding: 0 35px 0 5px;
    justify-content: flex-end;
  }

  @media only screen and (min-width : 680px) {
    max-width: 850px;
    margin: 25px auto 75px;
  }
}