@import '../sass/colors.scss';

.GameCardGameInfo {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  height: 90%;

  &__kickoff {
    font-size: 26px;
    font-weight: 600;
  }

  &__result {
    font-size: 28px;
    font-weight: 600;
  }

  &__userBet, &__points {
    opacity: .75;
  }

  &__city, &__userBet, &__points {
    padding: 0 3px;

    text-align: center;
    word-wrap: break-word;

    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
  }
}
