@import '../sass/colors.scss';

.GameCardBet {
  width: 100%;
  font-family: 'Oswald', sans-serif;

  &__goal-input-row {
    height: 32px;
    padding: 2px 5px 5px;
    font-size: 18px;

    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;

    text-align: center;
  }

  &__up-arrow-row,
  &__down-arrow-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &__up-arrow-row {
    margin-top: 2px;
  }
}
