@import '../sass/z-indexes.scss';

.GameBetsTab {
  &__game-bets-container {
    text-align: center;
    margin-top: 50px;
  }
  &__loadingSpinner {
    margin: 30px;
  }

  &__deadline-separator {
    display: flex;
    align-items: center;
    color: red;
  }

  &__save-button {
    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: $zGameBetsTabSaveButton;
  }
}