@import '../sass/colors.scss';

.GameCardBet {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;

  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;

  text-align: center;
}
