@import '../sass/colors.scss';
@import '../sass/z-indexes.scss';
@import '../sass/mixins/game-card-ribbon.scss';

.GameCardRibbon {
  &.bet { @include game-card-ribbon($ribbonBet, 60px, 80px); }
  &.neutral { @include game-card-ribbon($ribbonNeutral, 60px, 80px); }
  &.niete { @include game-card-ribbon($ribbonNiete, 60px, 80px); }
  &.tendenz { @include game-card-ribbon($ribbonTendenz, 60px, 80px); }
  &.differenz { @include game-card-ribbon($ribbonDifferenz, 60px, 80px); }
  &.volltreffer { @include game-card-ribbon($ribbonVolltreffer, 60px, 80px); }

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  &.differenz {
    color: $darkGrey;
  }

  &__content {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;

    z-index: $zGameCardRibbonContent;
  }
}
