.Header {
  h1:hover {
    cursor: pointer;
  }

  &__menu {
    text-align: left;

    a {
      text-decoration: none;

      &:hover, &:focus, &:active {
        text-decoration: none;
      }
    }
  }
}