@import '../sass/colors';

.UserMenu {
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;

  display: flex;
  align-items: center;
  height: 100%;
  margin-top: 4px;

  &:hover {
    cursor: pointer;
  }

  &__username {
    color: $darkGrey;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow: hidden;
    max-width: 175px;
    margin-right: 10px;
  }
}