@import '../../sass/z-indexes';

.CurrentGames {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: space-between;

  width: 100%;
  min-width: 320px;
  max-width: 1600px;
  margin: 20px auto 50px;
  padding: 0 10px;

  box-sizing: border-box;

  &__scroll-button {
    top: 2px;
    z-index: $zCurrentGamesScrollButton;

    @media only screen and (min-width : 375px) {
      top: 43%;
      margin: 0 20px;
    }
  }

  @media only screen and (min-width : 375px) {
    padding: 0 40px;
  }

  @media only screen and (min-width : 768px) {
    padding: 0 20px;
  }
}